<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @language.nom %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @language.niveau %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
