<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @skill.nom %>
</p>

<p>
  <strong>Capacite:</strong>
  <%= @skill.capacite %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
